@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

.file_hover_popup {
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    display: none;
    position: fixed;
    background-color: aqua;
    pointer-events: none;
    z-index: 3;
    opacity: 0.5;
}

.main_file_selector {
    left:50%;
    top:13%;
    position: absolute;
    width: 60vmin;
    height: 22vmin;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 3vmin;
    font-family: Roboto, sans-serif;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

.format_verify {
    margin: 1;
    padding: 1;
    left: 15%;
    top: 50%;
    position: absolute;
    width: 35vmin;
    /* max-width: fit-content; */
    height: 20vmin;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 2vmin;
    font-family: Roboto, sans-serif;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}

.groups_selector {
    margin: 1;
    padding: 1;
    left: 83%;
    top: 50%;
    position: absolute;
    width: 30%;
    max-width: 25%;
    max-height: fit-content;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 2vmin;
    font-family: Roboto, sans-serif;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
    ;
}

.grouping {
    display: flex;
    justify-content: space-between; 
}

.list {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin: 15px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: relative;
    display: flex;
    width: 2.8em;
    height: 1em;
    background-color: rgb(165, 165, 165);
    justify-content: center;
}

.toggle::before {
    /* content: ""; */
    position: absolute;
    z-index: -1;
    width: .8em;
    height: 2em;
    margin-bottom: .5em;
    bottom: 0;
    background-color: rgb(153, 104, 39);
    box-shadow: 0 -1em 0 0 rgb(165, 165, 165);
    transform-origin: bottom;
    transform: rotateZ(-30deg);
    transition: transform 150ms;
}

.switch input:checked + .toggle::before {
    transform: rotateZ(30deg);
}

.switch input:checked + .toggle {
    box-shadow: 0 -1em 2em 0 rgb(230, 111, 111);
}     

.switch.logs .toggle::before {
    content: "Logs";
}

.switch.planks .toggle::before{
    content: "Planks";
}

.switch.armors .toggle::before{
    content: "Armors";
}

.switch.toolsets .toggle::before{
    content: "Tool\00a0Sets";
}

.switch.statusEffects .toggle::before{
    content: "Status\00a0 Effects";
}

.switch.stones .toggle::before{
    content: "Stones";
}

.switch.sediments .toggle::before{
    content: "Sediments";
}

.switch.foods .toggle::before{
    content: "Foods";
}

.searchingSection {
    width: 30%;
    position: absolute;
    top: 25%;
    left: 3%;
    max-width: 25%;
    
}

.search {
    width: 100%;
    position: center;
    display: flex;
    z-index: 1;
    font-weight: 900;
}   

.searchTerm {
    width: 100%;
    /* max-width: 220px; */
    height: 20px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.searchTerm:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.searchTerm:active {
    transform: scale(0.95);
}

.searchTerm:focus {
    border: 2px solid grey;
}

.search_results {
    z-index: 3;
    width: 100%;
    background-color: lightgray;
    height: fit-content;
    overflow-y: scroll;
    max-height: 50vh;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}



.tooltip {
    display:inline-block;
    position: relative;
    z-index: 10;
}

.tooltip .content {
    width: min-content;
    padding: 5;
    display: none;
    position: absolute;
    transform: translate(-105%,-50%);
    top: 1em;
    left: 0;
    z-index: 10;
    border-style: solid;
    border-radius: 8px;
    color: black;
    /* background-color: rgb(44, 47, 51); */
    background-color: white;
}

.tooltip:hover .content {
    display: block;
}

.top_bar_thingy {
    left:0px;
    top:0px;
    width: 100%;
    height: 4%;
    border-radius: 0px 0px 40px 40px;
    position: fixed;
    color:white;
    font-size: 2vmin;
    /* background-image: url(images/Blue_wave-haikei.svg); */
    background-color: rgb(151, 211, 232);
    background-size: 100% 100%;
}
.top_bar_thingy * {
    margin: 0px;
    padding: 0px;
}

.proceed {
    left: 50%;
    top: 80%;
    width: 30%;
    border-radius: 30px;
    position: relative
    
}


.center_canvas {
    width: 54vmin;
    height:54vmin;
    top:50%;
    left:50%;
    background-color: blue;
    transform: translate(-50%,-50%);
    position: absolute;
}