@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    text-align: center;
}

.file_hover_popup {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: none;
    position: fixed;
    background-color: aqua;
    pointer-events: none;
    z-index: 3;
    opacity: 0.5;
}

.main_file_selector {
    left: 50%;
    top: 13%;
    position: absolute;
    width: 60vmin;
    height: 22vmin;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 3vmin;
    font-family: Roboto, sans-serif;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.format_verify {
    margin: 1;
    padding: 1;
    left: 15%;
    top: 50%;
    position: absolute;
    width: 35vmin;
    /* max-width: fit-content; */
    height: 20vmin;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 2vmin;
    font-family: Roboto, sans-serif;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.groups_selector {
    margin: 1;
    padding: 1;
    left: 83%;
    top: 50%;
    position: absolute;
    width: 30%;
    /* max-width: 25%; */
    max-height: fit-content;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 2vmin;
    font-family: Roboto, sans-serif;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.grouping {
    display: flex;
    justify-content: center;
}

.textureAdded {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    height: 50vmin;
    width: 30%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin: 20px;
    cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch:hover {
    filter: brightness(1.1);
}

.toggle {
    position: relative;
    display: flex;
    width: 2.8em;
    height: 1em;
    background-color: rgb(165, 165, 165);
    justify-content: center;
}

.toggle::before {
    /* content: ""; */
    position: absolute;
    z-index: -1;
    width: 0.8em;
    height: 2em;
    margin-bottom: 0.5em;
    bottom: 0;
    background-color: rgb(153, 104, 39);
    box-shadow: 0 -1em 0 0 rgb(165, 165, 165);
    transform-origin: bottom;
    transform: rotateZ(-30deg);
    transition: transform 150ms;
}

.switch input:checked + .toggle::before {
    transform: rotateZ(30deg);
}

.switch input:checked + .toggle {
    box-shadow: 0 -1em 2em 0 rgb(230, 111, 111);
}

.switch.woodVariants .toggle::before {
    content: "Wood\00a0Variants";
}

.switch.armors .toggle::before {
    content: "Armors";
}

.switch.toolsets .toggle::before {
    content: "Tool\00a0Sets";
}

.switch.statusEffects .toggle::before {
    content: "Status\00a0 Effects";
}

.switch.stones .toggle::before {
    content: "Stones";
}

.switch.sediments .toggle::before {
    content: "Sediments";
}

.switch.foods .toggle::before {
    content: "Foods";
}

.switch.ores .toggle::before {
    content: "Ores";
}

.searchingSection {
    width: 30%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 17%;
    /* max-width: 25%; */
    background-color: white;
    border-radius: 10px;
    height: 50vh;
}

.search {
    width: 100%;
    position: center;
    display: flex;
    z-index: 1;
    font-weight: 900;
}

.searchTerm {
    max-width: 70%;
    width: 70% !important;
    left: calc(15% - 12px);
    position: relative;

    height: 20px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.searchTerm:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.searchTerm:active {
    transform: scale(0.95);
}

.searchTerm:focus {
    border: 2px solid grey;
}

.search_results {
    z-index: 3;
    width: 100%;
    background-color: lightgray;
    height: fit-content;
    overflow-y: scroll;
    max-height: 50vh;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}
.search_results > div {
    width: 100%;
    height: 3.5vmin;
    vertical-align: middle;
    background-color: #aaa;
    cursor: pointer !important;
    text-decoration: None !important;
    user-select: none;
    position: relative;
}
.search_results > div[checkd="true"] {
    background-color: #ff0000;
}

.search_results > div[checkd="true"]::after {
    content: "";
    position: absolute;
    left: 20%;
    top: 25%;
    background-image: url(images/ILikeSharingCat.png);
    width: 50%;
    height: 50%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

.top_bar_thingy {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 5%;
    border-radius: 0px 0px 40px 40px;
    position: fixed;
    color: white;
    font-size: 2vmin;
    /* background-image: url(images/Blue_wave-haikei.svg); */
    background-color: rgb(151, 211, 232);
    background-size: 100% 100%;
}
.top_bar_thingy * {
    margin: 0px;
    padding: 0px;
}

.top_bar_thingy button {
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 5px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.top_bar_thingy button:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.top_bar_thingy button:main,
button:focus {
    user-select: auto;
}

.top_bar_thingy button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.top_bar_thingy button:disabled {
    cursor: auto;
}

.top_bar_thingy button:active:after {
    border-width: 0 0 0px;
}

.top_bar_thingy button:active {
    padding-bottom: 10px;
}

.proceedSection {
    margin: 0;
    padding: 0;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.proceedSection button {
    position: relative;
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
}

.proceedSection button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
}

.proceedSection button:active {
    transform: scale(0.95);
}

.clearAll {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.clearAll:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.clearAll:hover .svgIcon {
    width: 50px;
    transition-duration: 0.3s;
    transform: translateY(60%);
}

.clearAll::before {
    position: absolute;
    top: -20px;
    content: "Clear All";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.clearAll:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: 0.3s;
}

.clearAllSection {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 20%;
}
