/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

body {
    margin: 0;
    padding: 0;
    background-color: #e8edf7;
    text-align: center;
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
        "Noto Color Emoji";
}

.file_hover_popup {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    display: none;
    position: fixed;
    background-color: aqua;
    pointer-events: none;
    z-index: 3;
    opacity: 0.5;
}

.main_file_selector {
    left: 50%;
    top: 13%;
    position: absolute;
    width: 60vmin;
    height: 22vmin;
    background-color: #98b0dd;
    color: black;
    text-align: center;
    font-size: 3vmin;
    font-family: Roboto, sans-serif;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.groups_selector {
    margin: 1;
    padding: 1;
    /* left: 83%;
    top: 50%; */
    position: relative;
    width: 25vw;
    /* max-width: 25%; */
    max-height: fit-content;
    background-color: white;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 2vmin;
    font-family: Roboto, sans-serif;
    /* transform: translate(-50%, -50%); */
    border-radius: 10px;
    max-height: 60vmin;
    overflow-y: auto;
    overflow-x: clip;
}

.grouping {
    display: flex;
    justify-content: center;
    isolation: isolate;
}

.textureAdded {
    position: relative;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    background-color: white;
    border-radius: 10px;
    height: 50vmin;
    width: 25vw;
}

.column {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
    margin: 25px;
    cursor: pointer;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch:hover {
    filter: brightness(1.1);
}

.toggle {
    position: absolute;
    display: flex;
    width: 2.8em;
    height: 1em;
    background-color: rgb(165, 165, 165);
    justify-content: center;
}

.toggle::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 0.8em;
    height: 2em;
    margin-bottom: 0.5em;
    bottom: 0;
    background-color: rgb(153, 104, 39);
    box-shadow: 0 -1em 0 0 rgb(165, 165, 165);
    transform-origin: bottom;
    transform: rotateZ(-30deg);
    transition: transform 150ms;
}

.switch input:checked + .toggle::before {
    transform: rotateZ(30deg);
}

.switch input:checked + .toggle {
    box-shadow: 0 -1em 2em 0 rgb(230, 111, 111);
}

.switch.woodVariants .toggle::before {
    content: "Wood\00a0Variants";
    /* text-align: center; */
}

.switch.armors .toggle::before {
    content: "Armors";
}

.switch.toolsets .toggle::before {
    content: "Tool\00a0Sets";
}

.switch.doors .toggle::before {
    content: "Doors & Trapdoors";
}

.switch.statusEffects .toggle::before {
    content: "Status\00a0 Effects";
}

.switch.stones .toggle::before {
    content: "Stones";
}

.switch.sediments .toggle::before {
    content: "Sediments";
}

.switch.foods .toggle::before {
    content: "Foods";
}

.switch.ores .toggle::before {
    content: "Ores";
}

.switch.minerals .toggle::before {
    content: "Minerals";
}

.switch.musicDiscs .toggle::before {
    content: "Music\00a0 Discs";
}

.switch.shulkerBoxes .toggle::before {
    content: "Shulker\00a0 Boxes";
}

.switch.wools .toggle::before {
    content: "Wools";
}

.switch.concretes .toggle::before {
    content: "Concretes";
}

.switch.glasses .toggle::before {
    content: "Glass";
}

.switch.concretes .toggle::before {
    content: "Concretes";
}

.switch.terracottas .toggle::before {
    content: "Terracotta";
}

.switch.vehicles .toggle::before {
    content: "Vehicles";
}

.switch.balls .toggle::before {
    content: "Balls";
}

.switch.cropStages .toggle::before {
    content: "Crop\00a0 Stages";
}

.switch.buckets .toggle::before {
    content: "Buckets";
}

/* .switch > .toggle::before {
    translate: -50% 0px;
} */

.searchingSection {
    width: 25vw;
    position: relative;
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    /* left: 17%; */
    /* max-width: 25%; */
    background-color: white;
    border-radius: 10px;
    height: 50vh;
}

.search {
    width: 100%;
    position: center;
    display: flex;
    z-index: 1;
    font-weight: 900;
    margin-bottom: 5px;
    justify-content: center;
}

.toggleSearch {
    background-color: pink;
    margin-left: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: calc(30% - 24px - 10px - 5%);
    background-image: url(images/switches_FILL0_wght400_GRAD0_opsz24.svg);
    border-radius: 8px;
}

.searchTerm {
    max-width: 70%;
    width: 70% !important;
    /* left: calc(15% - 12px);
    position: relative; */

    height: 20px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.searchTerm:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

.searchTerm:active {
    transform: scale(0.95);
}

.searchTerm:focus {
    border: 2px solid grey;
}

.search_results {
    z-index: 3;
    width: 100%;
    background-color: lightgray;
    height: fit-content;
    overflow-y: auto;
    overflow-x: clip;
    max-height: 50vh;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
}

.textureAdded > .search_results {
    flex-grow: 2;
    max-height: auto !important;
    background-color: white;
}

.textureAdded {
    display: flex;
    flex-direction: column;
}

.search_results > div:hover::before {
    opacity: 1;
    height: 200%;
}
.search_results > div::before {
    opacity: 0;
    transition: 100ms height ease-in-out;
    overflow: clip;
    pointer-events: none;
    line-break: anywhere;
    text-align: center;
    z-index: 1000;
    /* content: "etst"; */
    content: attr(hover_text) " ";
    /* */
    width: 95%;
    height: 0%;
    display: block;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    background-color: #1899d6;
    border-radius: 10px;
    /* animation: infinite forwards slide_across_hover 10s; */
}

/* @keyframes slide_across_hover {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
} */

.search_results > div {
    width: 100%;
    height: 3.5vmin;
    vertical-align: middle;
    background-color: #aaa;
    cursor: pointer !important;
    text-decoration: None !important;
    user-select: none;
    position: relative;
}
.search_results > div[checkd="true"] {
    background-color: #ff0000;
}

.search_results > div[checkd="true"]::after {
    content: "";
    position: absolute;
    left: 20%;
    top: 25%;
    background-image: url(images/ILikeSharingCat.png);
    width: 50%;
    height: 50%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}

.top_bar_thingy {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 5%;
    border-radius: 0px 0px 40px 40px;
    position: fixed;
    color: white;
    font-size: 2vmin;
    /* background-image: url(images/Blue_wave-haikei.svg); */
    background-color: rgb(151, 211, 232);
    background-size: 100% 100%;
}
.top_bar_thingy * {
    margin: 0px;
    padding: 0px;
}

.top_bar_thingy button {
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 5px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.top_bar_thingy button:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.top_bar_thingy button:main,
button:focus {
    user-select: auto;
}

.top_bar_thingy button:hover:not(:disabled) {
    filter: brightness(1.1);
}

.top_bar_thingy button:disabled {
    cursor: auto;
}

.top_bar_thingy button:active:after {
    border-width: 0 0 0px;
}

.top_bar_thingy button:active {
    padding-bottom: 10px;
}

.proceedSection {
    margin: 0;
    padding: 0;
    left: 50%;
    bottom: 10%;
    transform: translate(-50%, 50%);
    position: absolute;
}

.proceedSection button {
    position: relative;
    width: 150px;
    height: 60px;
    border: 3px solid #315cfd;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: "Montserrat", sans-serif;
}

.proceedSection button:hover {
    background: #315cfd;
    color: white;
    font-size: 1.5em;
}

.proceedSection button:active {
    transform: scale(0.95);
}

.clearAll {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.clearAll:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.clearAll:hover .svgIcon {
    width: 50px;
    transition-duration: 0.3s;
    transform: translateY(60%);
}

.clearAll::before {
    position: absolute;
    top: -20px;
    content: "Clear All";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
}

.clearAll:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: 0.3s;
}

.clearAllSection {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    top: 15%;
}

.clearAll:active {
    transform: translate(0, 5px);
    transition-duration: 0.06s;
}

.canvasSpriteSheets {
    overflow: clip;
    position: absolute;
    width: 70vmin;
    height: 70vmin;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background-color: #dbdad1;
    border-radius: 7px;
}

.canvasSpriteSheets canvas {
    image-rendering: pixelated;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    /* width: 100%;
    height: 100%; */
    /* height:100%;
    width:auto; */
    /* position: absolute;
    left:0px;
    top:0px; */
}

.custom_number {
    padding: 10px;
    /* height: 30vh; */
    background: #98b0dd;
    border-radius: 10px;

    top: 50%;
    position: relative;
    width: 20vmin;
    overflow: hidden;
}

.downloadSection {
    /* display: flex;
    flex-direction: row; */
    left: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.downloadButton {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    background: #212121;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
}

.downloadButton span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.downloadButton svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.downloadButton:hover {
    background: #000;
    cursor: pointer;
}

.downloadButton:hover .svg-wrapper {
    transform: scale(1.25);
    transition: 0.5s linear;
}

.downloadButton:hover svg {
    transform: translateX(1.2em) scale(1.1);
    fill: #fff;
}

.downloadButton:hover span {
    opacity: 0;
    transition: 0.5s linear;
}

.downloadButton:active {
    transform: scale(0.95);
}

.checkingGroupsSection {
    /* left: 83%;
    top: 50%; */
    position: relative;
}

/* To hide the checkbox */
#checkingGroups {
    display: none;
}

.toggleSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 30px;
    background-color: rgb(82, 82, 82);
    border-radius: 20px;
    cursor: pointer;
    transition-duration: 0.2s;
    left: 50%;
    margin-top: 18px;
    transform: translate(-50%, 0);
}

.toggleSwitch::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    left: 5px;
    background-color: transparent;
    border-radius: 50%;
    transition-duration: 0.2s;
    box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
    border: 5px solid white;
}

#checkingGroups:checked + .toggleSwitch::after {
    transform: translateX(100%);
    transition-duration: 0.2s;
    background-color: white;
}
/* Switch background change */
#checkingGroups:checked + .toggleSwitch {
    background-color: rgb(148, 118, 255);
    transition-duration: 0.2s;
}

/* tooltip settings 👇 */

.copy {
    /* button */
    --button-bg: #353434;
    --button-hover-bg: #464646;
    --button-text-color: #cccccc;
    --button-hover-text-color: #8bb9fe;
    --button-border-radius: 10px;
    --button-diameter: 36px;
    --button-outline-width: 1px;
    --button-outline-color: rgb(141, 141, 141);
    /* tooltip */
    --tooltip-bg: #f4f3f3;
    --toolptip-border-radius: 4px;
    --tooltip-font-family: Menlo, Roboto Mono, monospace;
    /* 👆 this field should not be empty */
    --tooltip-font-size: 12px;
    /* 👆 this field should not be empty */
    --tootip-text-color: rgb(50, 50, 50);
    --tooltip-padding-x: 7px;
    --tooltip-padding-y: 7px;
    --tooltip-offset: 8px;
    /* --tooltip-transition-duration: 0.3s; */
    /* 👆 if you need a transition, 
    just remove the comment,
    but I didn't like the transition :| */
}

.copy {
    box-sizing: border-box;
    width: var(--button-diameter);
    height: var(--button-diameter);
    border-radius: var(--button-border-radius);
    background-color: var(--button-bg);
    color: var(--button-text-color);
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    transform: translate(0, +25%);
}

.tooltip {
    position: absolute;
    opacity: 0;
    visibility: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font: var(--tooltip-font-size) var(--tooltip-font-family);
    color: var(--tootip-text-color);
    background: var(--tooltip-bg);
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    border-radius: var(--toolptip-border-radius);
    pointer-events: none;
    transition: all var(--tooltip-transition-duration) cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
    content: attr(data-text-initial);
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: calc(var(--tooltip-padding-y) / 2 * -1);
    width: var(--tooltip-padding-y);
    height: var(--tooltip-padding-y);
    background: inherit;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -999;
    pointer-events: none;
}

.copy svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkmark {
    display: none;
}

/* actions */

.copy:hover .tooltip,
.copy:focus:not(:focus-visible) .tooltip {
    opacity: 1;
    visibility: visible;
    top: calc((100% + var(--tooltip-offset)) * -1);
}

.copy:focus:not(:focus-visible) .tooltip::before {
    content: attr(data-text-end);
}

.copy:focus:not(:focus-visible) .clipboard {
    display: none;
}

.copy:focus:not(:focus-visible) .checkmark {
    display: block;
}

.copy:hover,
.copy:focus {
    background-color: var(--button-hover-bg);
}

.copy:active {
    outline: var(--button-outline-width) solid var(--button-outline-color);
}

.copy:hover svg {
    color: var(--button-hover-text-color);
}

.copyText {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    transition: transform 0.4s;
    transform: scale(100%);
}

.copyText:active {
    transform: scale(0.95);
}

#I_like_sharing_cat_loading {
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    position: absolute;
    animation: infinite 5s I_like_sharing_cat_loading_animation linear;
    border-radius: 10px;
}

@keyframes I_like_sharing_cat_loading_animation {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.radio-container {
    margin: 0 auto;
    max-width: 300px;
    color: black;
}

.radio-wrapper {
    margin-bottom: 20px;
}

.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.radio-button:hover {
    transform: translateY(-2px);
}

.radio-button input[type="radio"] {
    display: none;
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}

.radio-button input[type="radio"]:checked ~ .radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1);
}

.radio-label {
    font-size: 16px;
    font-weight: 600;
}

.Formatting h2 {
    margin: 0;
    padding: 0;
}

.Formatting {
    margin-top: 10px;
    margin-bottom: 10px;
}
#hovered_output {
    max-width: 20vmin;
    text-wrap: wrap;
    line-break: anywhere;
    /* height: 100px; */
}

.form {
    --background: #ffffff;
    --text: #414856;
    --radio: #7c96b2;
    --radio-checked: #4f29f0;
    --radio-size: 20px;
    --width: 20vmin;
    --height: 180px;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    color: var(--text);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 20px;
    display: grid;
    grid-template-columns: auto var(--radio-size);
    align-items: center;
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
        "Noto Color Emoji" !important;
}

.form label {
    cursor: pointer;
}

.form input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    height: var(--radio-size);
    width: var(--radio-size);
    outline: none;
    margin: 0;
    cursor: pointer;
    border: 2px solid var(--radio);
    background: transparent;
    border-radius: 50%;
    display: grid;
    justify-self: end;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: border 0.5s ease;
}

.form input[type="radio"]::before,
.form input[type="radio"]::after {
    content: "";
    display: flex;
    justify-self: center;
    border-radius: 50%;
}

.form input[type="radio"]::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 1;
    opacity: var(--opacity, 1);
}

.form input[type="radio"]::after {
    position: relative;
    width: calc(100% / 2);
    height: calc(100% / 2);
    background: var(--radio-checked);
    top: var(--y, 100%);
    transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
}

.form input[type="radio"]:checked {
    --radio: var(--radio-checked);
}

.form input[type="radio"]:checked::after {
    --y: 0%;
    animation: stretch-animate 0.3s ease-out 0.17s;
}

.form input[type="radio"]:checked::before {
    --opacity: 0;
}

.form input[type="radio"]:checked ~ input[type="radio"]::after {
    --y: -100%;
}

.form input[type="radio"]:not(:checked)::before {
    --opacity: 1;
    transition: opacity 0s linear 0.5s;
}

@keyframes stretch-animate {
    0% {
        transform: scale(1, 1);
    }

    28% {
        transform: scale(1.15, 0.85);
    }

    50% {
        transform: scale(0.9, 1.1);
    }

    100% {
        transform: scale(1, 1);
    }
}

.socials {
    position: fixed;
    display: block;
    left: 20px;
    bottom: 20px;
}

.socials > a {
    display: block;
    width: 30px;
    opacity: 0.2;
    transform: scale(var(--scale, 0.8));
    transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}

.socials > a:hover {
    --scale: 1;
}

.card {
    max-width: 300px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    margin: 1vmin;
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol,
        "Noto Color Emoji" !important;
    flex: 1;
}

.card a {
    text-decoration: none;
}

.content {
    padding: 1.1rem;
}

.card .content .action {
    cursor: pointer;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    background-color: rgb(239, 205, 255);
    border-radius: 0.5rem;
}

.title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
}

.desc {
    margin-top: 0.5rem;
    color: #6b7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-family: Montserrat, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
        Helvetica Neue, Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI;
}

.action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563eb;
    padding: 4px 8px;
    border-radius: 4px;
}

.action span {
    transition: 0.3s ease;
}

.action:hover span {
    transform: translateX(4px);
}

.ZoomParam {
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    position: absolute;
    right: 15%;
    top: 85%;
    /* transform: translate(-50%, -50%);
    width: 10vmin;
    height: 10vmin; */
}

/* CSS for modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 3vmin;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.scrollable_modal {
    height: 90vmin;
    width: 90vmin;
    overflow-y: auto;
    overflow-x: auto;
}

.CleanUp {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    position: absolute;
    top: 25%;
}

.CleanUp > * {
    margin: auto;
}

.CleanUpAgain {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.OptionsAgain {
    display: flex;
    flex-direction: column;
    align-items: center;
    right: calc((50% - 35vmin) / 2);
    top: 50%;
    position: absolute;
    transform: translate(50%, -50%);
}

.MoreOptions > * {
    left: 0px;
    /* align-items: start; */
    text-align: start;
}

.InfoCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 65%;
    transform: translate(0, -50%);
}

.Options {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 15px;
    align-items: center;
    left: calc((50% - 35vmin) / 2);
    /* height: 100%; */

    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.SortMethods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* left: calc((50% - 35vmin) / 2); */
    /* height: 30vh; */
    background: #98b0dd;
    border-radius: 10px;

    position: relative;
    width: 20vmin;
}
